@mixin opacity-8 {
    opacity: 0.8;
}
.index{
    width: 100%;
    height: 100%;
    font-size: 32px;
    /* 抽屉样式 */
    .at-drawer__content{
        width: 640px;
        height: 100%;
        background-image: url(../../assets/images/drawer-bg.png);
        background-size: cover;
        .at-list{
            opacity: 0.5;
        }
    }
    .header{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        .draw-button{
            position: absolute;
            left: 28px;
            width: 40px;
            height: 40px;
            @include opacity-8;
            background-image: url(../../assets/images/menu-of-three-lines.png);
            background-size: cover;
        }
        .list-title{
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 40px;
        }
    }
    .task-group{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px 0;
        .input-group{
            position: relative;
            width: 680px;
            height: 64px;
            padding: 0 14px;
            background-color: #eef2eb;
            border: 1px solid #eef2eb;
            border-radius: 10px;
            &:hover{
                border: 1px solid #c1d3b4;
            }
            input {
                width: 520px;
                height: 100%;
            }
            .icon-group{
                position: absolute;
                top: 0;
                right: 12px;
                display: flex;
                align-items: center;
                height: 100%;
                .icon{
                    width: 32px;
                    height: 32px;
                    margin: 0 10px;
                    @include opacity-8;
                }
                .calendar{
                    background-image: url(../../assets/images/calendar.png);
                    background-size: cover;
                }
                .send{
                    background-image: url(../../assets/images/paper-plane.png);
                    background-size: cover;
                }
            }
        }
    }
    .task-list-group{
        margin: 5px 0;
        .at-swipe-action,
        .at-swipe-action__content{
            width: 100%;
            height: 64px;
            border-radius: 10px;
            .normal{
                display: flex;
                width: 100%;
                height: 100%;
                .folder-line{
                    width: 10px;
                    height: 100%;
                }
                .check-box{
                    width: 60px;
                    height: 100%;
                }
                .task-name{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
    }
}