$dark-green: #507C1D;
$text-color: #1E1E1E;
.index{
    width: 100%;
    height: 100%;
    font-size: 32px;
    color: $text-color;
    .show{
        display: block;
    }
    .hide{
        display: none !important;
    }
    /* 抽屉样式 */
    .at-drawer__content{
        width: 640px;
        height: 100%;
        background-image: url(../../assets/images/drawer-bg.png);
        background-size: cover;
        .draw-container{
            width: 100%;
            height: 100%;
            .user-info{
                display: flex;
                align-items: center;
                width: 100%;
                height: 100px;
                padding: 24px;
                .acatar{
                    width: 60px;
                    height: 60px;
                    border-radius: 50%;
                }
                .name{
                    margin-left: 16px;
                    font-size: 24px;
                    font-weight: 800;
                    color: $dark-green;
                }
            }
        }
    }
    .header{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        .draw-button{
            position: absolute;
            left: 28px;
            width: 40px;
            height: 40px;
            opacity: 0.5;
            background-image: url(../../assets/images/menu-of-three-lines.png);
            background-size: cover;
        }
        .list-title{
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 40px;
        }
    }
    .add-task-btn{
        position: absolute;
        bottom: 20px;
        left: 20px;
        display: flex;
        justify-content: center;
        width: 100px;
        height: 100px;
        background-image: url('../../assets/images/plus.png');
        background-size: cover;
        &:active{
            transform: translate(2px, 2px);
        }
    }
    .at-float-layout{
        .layout-header{
            display: none;
        }
        .input-group{
            position: relative;
            width: 680px;
            height: 64px;
            padding: 0 14px;
            background-color: #eef2eb;
            border: 1px solid #eef2eb;
            border-radius: 10px;
            &:hover{
                border: 1px solid #c1d3b4;
            }
            input {
                width: 100%;
                height: 100%;
            }
        }
        .icon-group{
            display: flex;
            justify-content: flex-end;
            align-items: center;
            height: 100%;
            margin: 20px 10px;
            .icon{
                width: 40px;
                height: 40px;
                margin: 0 10px;
                opacity: 0.5;
            }
            .calendar{
                background-image: url(../../assets/images/calendar.png);
                background-size: cover;
            }
            .send{
                background-image: url(../../assets/images/paper-plane.png);
                background-size: cover;
            }
        }
    } 
    .list-group{
        margin: 10px 0;
        .list-swiper{
            display: flex;
            align-items: center;
            flex-wrap: nowrap;
            height: 40px;
            padding: 0 24px;
            font-size: 20px;
            background-color: #EAF4E3;
            .swiper-count{
                position: absolute;
                right: 60px;
            }
            .swiper-icon{
                position: absolute;
                right: 20px;
                transform: rotate(90deg);
                width: 20px;
                height: 20px;
                padding: 0;
                margin: 0;
                opacity: 0.4;
                background-image: url(../../assets/images/next.png);
                background-size: cover;
                &.pick-up{
                    transform: rotate(180deg);
                }
            }
        }
        &.done-task{
            color: #B0B0B0;
        }
        .at-swipe-action,
        .at-swipe-action__content{
            width: 100%;
            height: 72px;
            border-radius: 10px;
            .normal{
                display: flex;
                width: 100%;
                height: 100%;
                margin: 4px, 0;
                .folder-line{
                    width: 10px;
                    height: 100%;
                }
                .check-box{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 60px;
                    height: 100%;
                    margin-left: 6px;
                    transform: scale(0.7);

                }
                .task-name{
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    width: 80%;
                    line-height: 74px;
                    margin-left: 20px;
                    font-size: 28px;
                }
                .done-task-name{
                    color: #B0B0B0;
                }
            }
        }
    }
}